@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    @apply dark:bg-gray-800;
}

::-webkit-scrollbar-thumb {
    @apply bg-gradient-to-b from-blue-500 to-purple-500 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply from-blue-600 to-purple-600;
}

.gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500;
}

/* Custom animations */
@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.animate-float {
    animation: float 3s ease-in-out infinite;
}